.content {
  display: flex;

  padding: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
}

.subcontent {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  padding-right: 10px;
  padding-bottom: 20px;
}
