<div class="content">
  Edit department: {{ data.id }}
  <mat-form-field appearance="outline">
    <mat-label>Department</mat-label>
    <input
      matInput
      placeholder="ex: Management"
      type="text"
      [(ngModel)]="name"
    />
    @if (name) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="name = ''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
  <div class="subcontent">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      (click)="edit()"
      [disabled]="!isInputValid()"
      class="btn"
    >
      Edit Department
    </button>
  </div>
</div>
